<%- include ../layouts/header.ejs %>
<%- include ../bootstrap/index.ejs %>
<head>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- MDBootstrap Datatables  -->
    <link href="../css/addons/datatables.min.css" rel="stylesheet">
    <!-- MDBootstrap Datatables  -->
    <link href="../css/addons/datatables.min.css" rel="stylesheet">
    <script src='https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js'></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="../js/addons/datatables.min.js"></script>
</head>
<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        </div>
        <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal" onclick="userType('','Add')">ADD</button>
        </div>
    </div>
  <table  id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th class="th-sm">ID</th>
              <th class="th-sm">Name</th>
              <th class="th-sm">AGE</th>
              <th class="th-sm">Email</th>
              <th class="th-sm">Action</th>
            </tr>
        </thead>
        <tbody>
          
  </table>
  <!-- The Modal -->
  <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header" style="background-color: #cbe8ef">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
            <form  action="" name="registration" method="POST" id="registration">
              <input type="hidden" id="uservalue" name="uservalue" value="">
              <input type="hidden" id="edituserid" name="edituserid" value="">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label>Enter Your Name:</label>
                      <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your Name">
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label>Age:</label>
                      <input type="text" class="form-control" name="userage" id="userage" placeholder="Enter Your Age">
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <label>Email:</label>
                      <input type="text" class="form-control" name="useremail" id="useremail" placeholder="Enter Your Email">
                  </div>
              </div>
          </div>
          
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ><span class="vssUpdate"></span></button>
          </div>
          </form>
        </div>
      </div>
    </div>
</div>

<script>
$(document).ready(function(){
  readdata();
});
function readdata(){
  $.ajax({
      url: '/users/readdata',
      type: 'get',
      dataType: 'json',
      success: function (rs) {
        if(rs.status==true){ 
          var arr = []; 
          var i=1;
          $('#dtBasicExample').dataTable().empty().fnDestroy();
          $.each( rs.data, function( key, value ) {
            var Update="Update";
            $("#dtBasicExample").append('<tr><td>'+i+'</td> <td>'+value.name+'</td> <td>'+value.age+'</td> <td>'+value.email+'</td><td><div style="float:left"><button type="button" class="btn btn-primary btn-sm" onclick="userType(\''+value._id+'\',\''+Update+'\')" data-toggle="modal" data-target="#myModal">Edit</button>&nbsp;<button type="button" class="btn btn-primary btn-sm" onClick="userDelete(\''+value._id+'\');">Delete</button></div></td> </tr>');
            i++;
          });
        }
        
      },
    complete: function (data) {
      pagination(); 
     }
  });
}
function pagination(){
  $('#dtBasicExample').DataTable({
        "pagingType": "simple_numbers" 
      });
      $('.dataTables_length').addClass('bs-select');
    
}
</script>

<script type="text/javascript">
$(function() {
  $("#registration").validate({
    rules: {
      username: {
        required: true,
        minlength: 5
      },
      userage: {
        required: true
      },
      useremail: {
        required: true
      },
    },
    messages: {
      username: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      userage: {
        required: "Please provide a password"
      },
      useremail: {
        required: "Please provide a password"
      }
    },
    submitHandler: function(form, e) {
      e.preventDefault();
        var username=$('#username').val();
        var userage=$('#userage').val();
        var useremail=$('#useremail').val();
        var uservalue=$('#uservalue').val();
        var id=$('#edituserid').val();
        if(uservalue=='Update'){
          var url='/users/updateReadData';
          var data={id:id,username: username,userage: userage,useremail: useremail};
        }else{
          var uservalue="Inserted";
          var url='/users/vellies';
          var data={username: username,userage: userage,useremail: useremail};
        }
        if(1){
          $.ajax({
            url: url,
            type: 'POST',
            data:data,
            dataType: 'json',
            success: function (rs) {
                    if(rs.status==true){
                      swal({
                        title: "success!",
                        text: "You Data "+uservalue+" Successfully!",
                        icon: "success",
                        button: "OK",
                      });
                      $("#registration")[0].reset(); 
                      $("#myModal").hide();
                      $(".close").click();
                      readdata();
                    }else{
                      swal({
                        title: "Error!",
                        text: "Please Check it!",
                        icon: "error",
                        button: "OK",
                      });
                    }
            }
          });
        }else{
            swal({
                title: "Error!",
                text: "Give valid Confirm Password!",
                icon: "error",
                button: "OK",
            }); 
        }
    }
  });
});
</script>

<script>
    function userType(id,type){
      if(type=='Update'){
        $.ajax({
            url: '/users/getSelectedData',
            type: 'POST',
            data:{id: id},
            dataType: 'json',
            success: function (rs) {
                    if(rs.status==true){
                      $('#uservalue').val(type);
                      $('#edituserid').val(id);
                      $('.vssUpdate').html(type);
                      $('#username').val(rs.data[0].name);
                      $('#userage').val(rs.data[0].age);
                      $('#useremail').val(rs.data[0].email);
                    }                     
            }
          });
        }else{
          $('#uservalue').val(type);
          $('#edituserid').val(id);
          $('.vssUpdate').html(type);
        }
      
    }
    function userDelete(id){
      swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this Record!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
                $.ajax({
                  url: '/users/userDelete',
                  type: 'POST',
                  data:{id: id},
                  dataType: 'json',
                  success: function (rs) {
                          if(rs.status==true){
                                swal("Poof! Your imaginary file has been deleted!", {
                                  icon: "success",
                                });
                            readdata();
                          }                     
                  }
                });
        } else {
          swal("Your imaginary file is safe!");
        }
      });
    }

</script>
</body>
</html>

